
body {
    background-image: url(../img/bg.jpg);
    cursor: pointer;
}

.slot-group {
    width: 100%;
}

.slot-subgroup {
    text-align: center;
    /*clear: both;*/
    cursor: pointer;
    /*float:left;*/
    display: inline-block;
    margin-right: 30px;
}
.slot-subgroup:last-of-type {
    margin-right: 0px;
}

.slot-select {
    clear: both;
    border-top: 5px rgba(100%, 100%, 100%, 0.6) dotted;
    padding-top: 5px;
    margin-top: 5px;
    text-align: center;
}

.slot-select:first-of-type {
    border-top-width: 0px;
    margin-top: 0px;
}

.slot-machine-score {
    font-size: 36pt;
    color: #333;
}

.slot-machine-score.complete {
    color: red;
}

.dice-default .slot1{
	background-image: url("../img/dice_default_1.png");
}
.dice-default .slot2{
	background-image: url("../img/dice_default_2.png");
}
.dice-default .slot3{
	background-image: url("../img/dice_default_3.png");
}
.dice-default .slot4{
	background-image: url("../img/dice_default_4.png");
}
.dice-default .slot5{
	background-image: url("../img/dice_default_5.png");
}
.dice-default .slot6{
	background-image: url("../img/dice_default_6.png");
}